@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>KHEHRA FARM</b></h1>
</div>
<br />
<div class="mydiv">
    <p1>
        <b>
            <i>
                All animal feed products should be fed as part of a healthy balanced diet matched to the specific requirements of the herd.<br /> Nutrinza makes no representations or warranties of any kind, express or implied, as to the suitability of any of the products supplied to the specific requirements of your animals.<br /> Please note that recommended feeding rates are given as a guideline only and will vary based on the total diet and actual feed intake of your animals.<br /> It is recommended that you consult your vet, nutritionist or farm consultant before making any dietary changes.
            </i>
        </b>
    </p1>
</div>
<br>
<br />

<div class="myimg1">
    <iframe width="1000" height="513" src="https://www.youtube.com/embed/-dZTC7oSv-8?autoplay=1&mute=1"></iframe>

</div>
<br />
<br />
<div>
    <p2>
        <b>
            <i>
                DFNZ provides qualified investors with an opportunity to have a direct investment in dairy farming in the best dairying regions of the country. <br /> The core business strategy is to purchase quality land and invest to address factors that are limiting productivity, including soil fertility, drainage, irrigation, buildings and management, while achieving environmental enhancement.

                The Herd Owning (50/50) Sharemilker model is used to manage the farms to maximise alignment between farm owner (DFNZ) and farmer (Sharemilker).  <br />This model also streamlines DFNZ’s overhead structure and costs.
            </i>
        </b>
    </p2>
</div>
<br />
<div class="myimg2">
    <iframe width="1000" height="513" src="https://www.youtube.com/embed/EOAavg4ftFk?autoplay=1&mute=1"></iframe>
</div>
<br />
<p>
    <b>
        <i>
            DairyNZ is the organisation that represents all New Zealand dairy farmers. We invest dairy farmers’ levy funds into practical on-farm tools, science, resources, support, and advocacy to ensure farmers have a profitable, sustainable, and competitive future.
        </i>
    </b>
</p>

<br />
<div class=" myimg3">
    <iframe width="1000" height="513" src="https://www.youtube.com/embed/LFN1OPbXLMo?autoplay=1&mute=1"></iframe>
</div> 
<br />
<br />
<br />