@page
@model DairyFarm.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">ABOUT US</h1>
    
</div>
<br />
<br />
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100912.71019352667!2d175.1783497514018!3d-37.77780027172086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6d227487a63621%3A0x500ef6143a29903!2sHamilton!5e0!3m2!1sen!2snz!4v1615341274930!5m2!1sen!2snz" width="1000" height="513" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div>
    <p>
        <b>
            <i>
                Milk is extracted from the cow's udder by flexible rubber sheaths known as liners or inflations that are surrounded by a rigid air chamber. A pulsating flow of ambient air and vacuum is applied to the inflation's air chamber during the milking process.<br />
                When ambient air is allowed to enter the chamber, the vacuum inside the inflation causes the inflation to collapse around the cow's teat, squeezing the milk out of teat in a similar fashion as a baby calf's mouth massaging the teat.<br /> When the vacuum is reapplied in the chamber the flexible rubber inflation relaxes and opens up, preparing for the next squeezing cycle.

                It takes the average cow three to five minutes to give her milk.<br /> Some cows are faster or slower. Slow-milking cows may take up to fifteen minutes to let down all their milk. Though milking speed is not related to the quality of milk produced by the cow, it does impact the management of the milking process.<br /> Because most milkers milk cattle in groups, the milker can only process a group of cows at the speed of the slowest-milking cow. For this reason, many farmers will group slow-milking cows so as not to stress the faster milking cows.
                Feed provision is also an important feature of dairy housing. Pasture based dairies are a more extensive option where cows are turned out to graze on pasture when the weather permits. Often the diet must be supplemented with when poor pasture conditions persist. Free stall barns and open lots are intensive housing options where feed is brought to the cattle at all times of year. Free stall barns are designed to allow the cows freedom to choose when they feed, rest, drink, or stand.<br /> They can be either fully enclosed or open air barns again depending on the climate. The resting areas, called free stalls, are divided beds lined with anything from mattresses to sand.<br /> In the lanes between rows of stalls, the floor is often make of grooved concrete. Most barns open onto uncovered corrals, which the cattle are free to enjoy as the weather allows.<br /> Open lots are dirt lots with constructed shade structures and a concrete pad where feed is delivered.

                Milking is now performed almost exclusively by machine, though human technicians are still essential on most facilities The most common milking machine is called a cluster milker.<br /> This milker consists of four metal cups—one per teat—each lined with rubber or silicone. The cluster is attached to both a milk collection system and a pulsating vacuum system.<br /> When the vacuum is on, it pulls air from between the outer metal cup and the liner, drawing milk out of the teat. When the vacuum turns off, it gives the teat an opportunity to refill with milk.<br /> In most milking systems, a milking technician must attach the cluster to each cow, but the machine senses when the cow has been fully milked and drops off independently
            </i>
        </b>
    </p>
</div>
<br />
<br />
<div class="img4">
    <iframe width="1000" height="513" src="https://www.youtube.com/embed/fQZyFgzf4Ao?autoplay=1&mute=1"></iframe>

</div>
